APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/Got_BPI_RMDQ_Number_DN.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Binary_Contingencia_0_1.png
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Got_BPI_RMDQ_Circle_DN.tiff
Artigo/Imagens_Alta_Qualidade_300_Upar/DN_Crosstable.tiff
Artigo/Journals/Lancet/Imagens_Alta_Qualidade_300_Upar/DN_Crosstable.tiff
Artigo/Journals/Lancet/Submission/Figure2.tiff
PlotsML/outputdata/imgs/DN_Crosstable.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/outputdata/imgs/DN_Crosstable.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/Lombar_Costas_Pernas_Bisserial.tiff
Segmentacao1/outputdata/Dor_costas.tiff
Segmentacao1ate4/outputdata/Binaria_Ordinal_CorrelationMatrix_Number_q1234.tiff
Segmentacao1ate4/outputdata/Binaria_Ordinal_CorrelationMatrix_Q1234.tiff
Segmentacao1ate4/outputdata/img/Binaria_Ordinal_CorrelationMatrix_Number_q1234.tiff
Segmentacao1ate4/outputdata/img/Binaria_Ordinal_CorrelationMatrix_Q1234.tiff
Segmentacao1ate4/outputdata/img/Binary_Biserial_Cont_0_1.png
Segmentacao1ate4/outputdata/img/Binary_Contingencia_0_1.png
Segmentacao1ate4/outputdata/img/Got_BPI_RMDQ_Circle.tiff
Segmentacao1ate4/outputdata/img/Got_BPI_RMDQ_Number.tiff
Segmentacao1ate4/outputdata/img/Pernas_Costas_D30_RMDQ_Circle.tiff
Segmentacao1ate4/outputdata/img/Pernas_Costas_D30_RMDQ_Number.tiff
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binary_Biserial_Cont_0_1.png
Segmentacao1ate6/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q123456.tiff
Segmentacao1ate6/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Q123456.tiff
Segmentacao1ate6/outputdata/imgs/Binary_Biserial_Cont_0_1.png
Segmentacao1ate6/outputdata/imgs/Binary_Contingencia_0_1.png
Segmentacao1ate6/outputdata/imgs/Got_BPI_RMDQ_Circle_DN.tiff
Segmentacao1ate6/outputdata/imgs/Got_BPI_RMDQ_Number_DN.tiff
Segmentacao1e2/outputdata/Binarias_Q1_Q2_Number.tiff
Segmentacao1e2/outputdata/BPI_Corpo_Binarias_Circle.tiff
Segmentacao1e2/outputdata/BPI_Corpo_Binarias_Number.tiff
Segmentacao1e2e3/outputdata/Binaria_Ordinal_CorrelationMatrix.tiff
Segmentacao1e2e3/outputdata/Binaria_Ordinal_CorrelationMatrix_Number.tiff
Segmentacao1e2e3/outputdata/OrdinalQ1Q2Q3_Number.tiff
*.tiff
*.zip
*.png
*.mp4
*.jpg
*.pdf
*.mea
*.opju
*.xlsx
*.bak
*.docx

1RevisaoBibliografica/1957-bellman-dynamicprogramming.pdf
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/Got_BPI_RMDQ_Number_DN.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q12345.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Binary_Contingencia_0_1.png
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Dor_Lombar_MainCorrelations.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Got_BPI_RMDQ_Circle_DN.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Pernas_Costas_D30_DN_Circle.tiff
APRESENTACAO_IBRAVS/APRESENTACAO_FINAL_IBRAVS_CORRELOGRAMA_REDUZIDO/outputdata/imgs/Pernas_Costas_D30_DN_Number.tiff
Artigo/Imagens_Alta_Qualidade_300_Upar/DN_Bisserial.tiff
Artigo/Imagens_Alta_Qualidade_300_Upar/DN_Crosstable.tiff
Artigo/Imagens_Alta_Qualidade_300_Upar/Lombar_Costas_Pernas_Bisserial_LINERANGE.tiff
Artigo/Imagens_Alta_Qualidade_300_Upar/Lombar_Costas_Pernas_Desemprego_Cirurgia.tiff
Artigo/Journals/Lancet/Imagens_Alta_Qualidade_300_Upar/DN_Bisserial.tiff
Artigo/Journals/Lancet/Imagens_Alta_Qualidade_300_Upar/DN_Crosstable.tiff
Artigo/Journals/Lancet/Imagens_Alta_Qualidade_300_Upar/Lombar_Costas_Pernas_Bisserial_LINERANGE.tiff
Artigo/Journals/Lancet/Imagens_Alta_Qualidade_300_Upar/Lombar_Costas_Pernas_Desemprego_Cirurgia.tiff
Artigo/Journals/Lancet/Submission/Figure2.tiff
Artigo/Journals/Lancet/Submission/Figure3.tiff
Artigo/Journals/Lancet/Submission/Figure5.tiff
Artigo/Journals/Lancet/Submission/Figure6.tiff
PlotsML/outputdata/imgs/DN_Crosstable.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/outputdata/imgs/DN_Bisserial.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/outputdata/imgs/DN_Crosstable.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/outputdata/imgs/Lombar_Costas_Pernas_Desemprego_Cirurgia.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/RMDQ_Oswestry_SF-12/outputdata/imgs/Lombar_Costas_Pernas_Bisserial.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/INGLES/RMDQ_Oswestry_SF-12/outputdata/imgs/Lombar_Costas_Pernas_Bisserial_LINERANGE.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/boxplots/B.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/DN_Bisserial.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/DN_Crosstable.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/Lombar_Costas_Pernas_Bisserial.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/outputdata/imgs/Lombar_Costas_Pernas_Desemprego_Cirurgia.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/RMDQ_Oswestry_SF-12/outputdata/imgs/Lombar_Costas_Pernas_Bisserial.tiff
RelevanciaEstatistica_TODOSGRAFICOS_DO_ARTIGO/RMDQ_Oswestry_SF-12/outputdata/imgs/Lombar_Costas_Pernas_Bisserial_LINERANGE.tiff
Segmentacao1/outputdata/Dor_costas.tiff
Segmentacao1ate4/outputdata/Binaria_Ordinal_CorrelationMatrix_Number_q1234.tiff
Segmentacao1ate4/outputdata/Binaria_Ordinal_CorrelationMatrix_Q1234.tiff
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binary_Biserial_Cont_0_1.png
Segmentacao1ate6/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q123456.tiff
Segmentacao1ate6/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Q123456.tiff
Segmentacao1ate6/outputdata/imgs/Binary_Biserial_Cont_0_1.png
Segmentacao1ate6/outputdata/imgs/Binary_Contingencia_0_1.png
Segmentacao1ate6/outputdata/imgs/Dor_Lombar_MainCorrelations.tiff
Segmentacao1ate6/outputdata/imgs/Got_BPI_RMDQ_Circle_DN.tiff
Segmentacao1ate6/outputdata/imgs/Got_BPI_RMDQ_Number_DN.tiff
Segmentacao1ate6/outputdata/imgs/Pernas_Costas_D30_DN_Circle.tiff
Segmentacao1ate6/outputdata/imgs/Pernas_Costas_D30_DN_Number.tiff
Segmentacao1e2e3/outputdata/Binaria_Ordinal_CorrelationMatrix.tiff
Segmentacao1e2e3/outputdata/Binaria_Ordinal_CorrelationMatrix_Number.tiff
Segmentacao1e2e3/outputdata/OrdinalQ1Q2Q3_Number.tiff
1RevisaoBibliografica/1957-bellman-dynamicprogramming.pdf
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Number_q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binaria_Ordinal_CorrelationMatrix_Q12345.tiff
Segmentacao1ate5/outputdata/imgs/Binary_Biserial_Cont_0_1.png
